{% extends 'layouts/main12.html.twig' %}

{% block title %}MiHospital{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-9">

        <h1>Buenbenidos en MiHospital!</h1>

        <p>
            Esta sitio web sobre MiHospitol...
        </p>

    </div>
    <div class="col-md-3">
        
        {% include 'paciente/banner.html.twig' %}
        
    </div>
</div>
{% endblock %}

