{% extends 'layouts/main12.html.twig' %}

{% block title %}MiHospital{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-9" style="margin-top:21px;">

        <h1>El usuario, bienbenidos a MiHospital!</h1>

        <p>
            Esta sitio web sobre MiHospitol...
        </p>

        <!--p>
            <b>MiHospital</b> es sitio web donde cada paciente puedo encontrarselo doctor. Puede preguntarlo y recibe las contestas. 
        </p-->

    </div>
    <div class="col-md-3">
        
        {% include 'paciente/banner.html.twig' %}
        
    </div>
</div>
{% endblock %}

