{% extends 'layouts/main12.html.twig' %}

{% block title %}MiHospital - Info!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principle</a></i>
                    <li class="breadcrumb-item active">Muy importante información</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9" style="margin-top:21px;">

        <h1>¿Cómo funcióna este sitio web?</h1>

        <p>
            texto texto texto texto texto texto texto texto texto texto texto texto 
            texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
            texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
            texto texto texto texto texto texto texto texto texto texto texto texto 
        </p>
        <p>
            texto texto texto texto texto texto texto texto texto texto texto texto texto 
            texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
            texto texto texto texto texto texto texto texto texto texto texto 
        </p>

        </div>
        <div class="col-md-3">
            
            {% include 'main/banner-users.html.twig' %}
            
            {% include 'paciente/banner.html.twig' %}

        </div>
    </div>

</div>
{% endblock %}

