
<div class="my-menu">
    <h4 style="margin-top:1rem; margin-left:30px; ">Menu</h4>
    <ul>
        <li><a href="{{ path('animals_index') }}">Animales</a></li>
        <li><a href="{{ path('lucky') }}">Lucky</a></li>
        <li><a href="{{ path('api_post_index') }}">API Posts</a></li>
        <li><a href="{{ path('products_index') }}">Productos</a></li>
    </ul>
</div>