
<div class="row">
    <div class="col-md-12">
        <div class="paciente-banner">
            
            <div class="div-info">
                <a href="{{ path('info') }}" class="a_banner">Esta es <br/>muy importante <br/>información!</a>
            </div>

            <img src="{{ asset('images/banner.svg') }}" style="margin-top: -110px;" class="img-fluid" alt="banner" />
            
        </div>
    </div>    
</div>