{% extends 'layouts/main12.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6" style="border:2px solid #e7e7e7; border-radius:10px;">
        Lucky frase: {{ frase }}
    </div>  
</div>
{% endblock body %}