{% extends 'layouts/main12.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>
                <a href="{{ path('app_lucky_number') }}">Lucky number</a>
            </li>
            <li>
                <a href="{{ path('app_lucky_frase') }}">Lucky frase</a>
            </li>    
        </ul>
    </div>
</div>
{% endblock body %}