{% extends 'layouts/main12.html.twig' %}

{% block title %}MiHospital - Lucky{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principl</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('lucky') }}">Lucky</a></i>
                    <li class="breadcrumb-item active">Lucky number</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8" style="margin-top:21px;">
            
            <h2>Lucky number</h2>

            Fatima's lucky number: <br/>
            
            <b style="font-size:55px;">{{ num }}</b>
        </div>

        <div class="col-md-4">
            {% include 'layouts/menu.html.twig' %}
        </div>
    </div>
</div>    
{% endblock body %}

