
body {
    /*background-color: aqua;*/
}

.container {
    /*background-color: #FFFFFF;*/
    max-height: 100%;
}

.my-menu {
    border: 1px solid grey;
    background-color: #e7e7e7;
    border-radius: 5px;

    ul {
        /*margin-top: 1rem;*/
    }

    ul > li {
        list-style: none;
        text-decoration: underline;
    }
}

.badge-success {
    background-color:#157347;
} 
.badge-danger {
    background-color:#732315;
}

label {
    font-weight: bold;
} 

.flash-notice {
    border: 1px solid #1D967A;
    color: #1D967A;
    background-color: #A7E5D5;
    margin: 0 0 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.flash-error {
    border: 1px solid #732315;
    color: red;
    background-color: lightcoral;
    margin: 0 0 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
} 

.div-info {
    font-size: 26px; 
    z-index: 1; 
    position: relative;
    display: block; 
    left: 0px; 
    top: 10px; 
    width: 300px;
    text-align: center;
    color: #000000;
}
.paciente-banner {
    margin-top:20px; 
    border: 1px solid grey; 
    background-color: #e7e7e7; 
    border-radius: 5px;
}