{% extends 'layouts/main12.html.twig' %}

{% block title %}Hello Animales!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Pagina principle</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('animals_index') }}">Animales</a></i>
                    <li class="breadcrumb-item active">Añadir nueva animal</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <h1>Añadir animal</h1>

            {{ form(form_animale) }}
        </div>
        <div class="col-md-3">

            {% include 'layouts/menu.html.twig' %}

        </div>
    </div>

</div>
{% endblock %}

