<h1>{{ username }}, bienbenido a MiHospital!</h1>

<p>
    Tu tienes este corréo de electrónico porque te registrás en sitio web <b>MiHospital</b>. 
    Para verificar tu corréo de electrónico y termina registrarse a clickar <a href="{{ href_verificar }}">aquí</a>.
    Este enlace es accesible hasta {{ hasta_la_vista }}.

    También en sitio web tu tendrás tu oficina privada. Donde tu puedes ver la lista del medicos y otras informaciónes útilices.
    Puedes elejir el doctor mejor para tí y lo enviaré tus preguntas. Y otras cosas son disponibles en este sitio web.  
</p>

<p>
    Si tu no hizo eso, puedes simplemente borrar este corréo de electrónico.
</p>

<p>
    Muchas gracios,  
    tu equipo de sitio web <a href="{{ href_sitioweb }}">MiHospital</a>.
</p>